#http://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google

Language: Cpp

IndentWidth: 4
AccessModifierOffset: -2

DerivePointerAlignment: false
PointerAlignment: Middle
AlignConsecutiveAssignments: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine : None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit: 100